.grid {
  width: 250px;
  height: 500px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

#box {
  background-color: red;
  width: 100px;
  height: 100px;
}

.grid div{
    width: 25px;
    height: 25px;
    border: 0.1px rgb(49, 49, 49) solid;
    box-sizing:border-box;
}

.floor {
  border: none !important;
}

.t-shape {
    background: rgb(255, 0, 191);
}
.left-l {
  background: rgb(255, 208, 0);
}
.right-l{
  background: blue;
}
.line{
  background: rgb(0, 238, 255);
}
.s-shape{
  background: rgb(9, 255, 0);
}
.z-shape{
  background: rgb(255, 0, 0);
}
.square{
  background: rgb(229, 255, 0);
}
.shadow {
  opacity: .5;
}
.revealed {
  background-image: url('portuguese-flag-6.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.hidden {
  display: none;
}
#left {
  text-align: center;
  float: left;
  animation-name: spin;
  animation-duration: 420ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}
#right{
  text-align: center;
  float: right;
  animation-name: spin;
  animation-duration: 420ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}